$orange: #ea7317;
$blue: #20a4f3;
$darkBlue: #2c3e50;
$greyBlue: #34495e;
$lightGrey: #b8b8b8;
$white: #fff;

// button
$button-color: $orange;
$button-color-hover: darken($orange, 10%);
$button-color-text: $white;

// Text
$header-text: $darkBlue;
$body-text: $greyBlue;
