@import url('https://fonts.googleapis.com/css?family=PT+Mono');

$font-header: 'Source Sans Pro', sans-serif;
$font-body: $font-header;

$font-header-color: $darkBlue;
$font-body-color: $greyBlue;

%header {
  font-family: $font-header;
  color: $font-header-color;
}
*,
h1,
h2,
h3,
h4,
h5,
h6,
button,
.button {
  font-family: $font-header;
  color: $font-header-color;
}

.button {
  font-weight: 700;
}

p,
li,
span {
  font-family: $font-body;
  color: $font-body-color;
}
