@import url('https://fonts.googleapis.com/css?family=PT+Mono');

$font-header: 'Source Sans Pro', sans-serif;
$font-body: 'PT Mono', monospace;

$font-header-color: $darkBlue;
$font-body-color: $greyBlue;

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: $font-header;
  color: $font-header-color;
}

p,
li,
span {
  font-family: $font-body;
  color: $font-body-color;
}
