.event-item {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;

  @include breakpoint(md) {
    min-height: 400px;
    flex-direction: column;
  }

  &-image {
    justify-content: space-between;
    flex: 2;
    position: relative;
    z-index: 2;
    margin-right: 7px;
    margin-top: 7px;
    background: url('https://secure.meetupstatic.com/photos/event/1/e/b/6/highres_475267862.jpeg')
      no-repeat;
    background-size: cover;
    overflow: hidden;
    box-shadow: 7px 7px #b8b8b8;
  }
  &-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 20px 0 20px 40px;
    .info {
      box-sizing: border-box;
      padding: 20px;

      h2 {
        margin: 0;
      }
      span {
        color: #b8b8b8;
      }
    }
    .button {
      margin-top: 30px;
      padding: 10px 0;
      background-color: orange;
      width: 100%;
      text-align: center;

      &:hover {
        background-color: darkOrange;
      }
    }
  }
}

.organizer {
  display: flex;
  align-items: center;

  span {
    display: block;
    border-radius: 30px;
    background: red;
    width: 30px;
    height: 30px;
    border: 2px solid white;

    &:not(:first-of-type) {
      margin-left: -10px;
    }
  }
  .names {
    margin-left: 10px;
  }
}
