.page-event {
  &-heading {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;

    @include breakpoint(md) {
      min-height: 400px;
      flex-direction: row;
    }
    .image {
      justify-content: space-between;
      flex: 2;
      position: relative;
      z-index: 2;
      margin-right: 7px;
      margin-top: 7px;
      background: url('https://secure.meetupstatic.com/photos/event/1/e/b/6/highres_475267862.jpeg')
        no-repeat;
      background-size: cover;
      overflow: hidden;
      box-shadow: 7px 7px #b8b8b8;
    }
    .detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      margin: 20px 0 20px 40px;
      .info {
        box-sizing: border-box;
        padding: 20px;

        h2 {
          margin: 0;
          font-size: 40px;
          line-height: 40px;
        }
        span {
          color: #b8b8b8;
        }
      }
      .button {
        margin-top: 30px;
        padding: 10px 0;
        background-color: orange;
        width: 100%;
        text-align: center;

        &:hover {
          background-color: darkOrange;
        }
      }
    }
  }
  &-information {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    > div {
      width: 100%;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 20px;
        height: 20px;
        padding: 20px;
        margin-right: 10px;
        display: block;
        background-color: $blue;
        fill: white;
        border-radius: 50%;
      }

      p {
        margin: 0;
      }

      &:first-of-type {
        justify-content: flex-start;
        margin-right: 20px;
        margin-left: 0;
      }

      &:last-of-type {
        justify-content: flex-end;
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }
  &-body {
    .description {
    }
  }
}
