.page-event {
  @include breakpoint(md) {
    padding: 30px;
  }
  &-heading {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    @include breakpoint(md) {
      margin-top: 100px;
      min-height: 400px;
      margin-top: 50px;
      flex-direction: row;
    }
    .image {
      justify-content: space-between;
      flex: 2;
      height: 300px;
      position: relative;
      z-index: 2;

      background: url('https://secure.meetupstatic.com/photos/event/1/e/b/6/highres_475267862.jpeg')
        no-repeat;
      background-size: cover;
      overflow: hidden;

      @include breakpoint(md) {
        height: auto;
        box-shadow: 7px 7px #b8b8b8;
        margin-right: 7px;
        margin-top: 7px;
      }
    }
    .detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      @include breakpoint(md) {
        margin: 20px 0 20px 40px;
      }
      .info {
        box-sizing: border-box;
        padding: 20px;

        h2 {
          margin: 0;
          font-size: 40px;
          line-height: 40px;
        }
        span {
          color: #b8b8b8;
        }
      }
      .button {
        transition: all 0.4s ease;
        color: white;
        display: block;
        text-decoration: none;
        margin-top: 30px;
        padding: 10px 0;
        background-color: #f64060;
        width: 100%;
        text-align: center;

        &:hover {
          background-color: darken(#f64060, 10%);
        }
      }
    }
  }
  &-information {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px 30px 0;

    @include breakpoint(md) {
      flex-direction: row;
      margin: 30px 0;
    }

    > div {
      width: 100%;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: flex-start;
      margin-top: 25px;

      @include breakpoint(md) {
        margin-top: 0;
      }

      img {
        width: 20px;
        height: 20px;
        padding: 20px;
        margin-right: 10px;
        display: block;
        background-color: $blue;
        fill: white;
        border-radius: 50%;
      }

      p {
        margin: 0;
        font-size: 13px;
        @extend %header;
      }

      &:first-of-type {
        margin-left: 0;

        @include breakpoint(md) {
          margin-right: 20px;
          justify-content: flex-start;
        }
      }

      &:last-of-type {
        margin-right: 0;

        @include breakpoint(md) {
          margin-left: 20px;
          justify-content: flex-end;
        }
      }
    }
  }
  &-body {
    > h3 {
      font-size: 50px;

      margin: 0 30px 40px;

      @include breakpoint(md) {
        margin: 0 0 40px;
      }
    }
    .description {
      background: #eee;
      padding: 40px;
      p {
        margin: 20px 0;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
      }
    }
  }
}
