.event-wrapper {
  margin: 0 30px;

  .event-item {
    display: flex;
    position: relative;
    width: 100%;
    margin: 75px 0;
    flex-direction: column;

    @include breakpoint(sm) {
      margin: 150px 0;
      min-height: 400px;
      &:nth-of-type(even) {
        flex-direction: row-reverse;

        .event-item-detail {
          margin: 20px 40px 20px 0px;
        }
      }
      &:nth-of-type(odd) {
        flex-direction: row;
        .event-item-detail {
          margin: 20px 0px 20px 40px;
        }
      }
    }

    &-image {
      justify-content: space-between;
      width: 100%;
      height: 300px;
      position: relative;
      z-index: 2;
      margin-right: 7px;
      margin-top: 7px;
      background: url('https://secure.meetupstatic.com/photos/event/1/e/b/6/highres_475267862.jpeg')
        no-repeat;
      background-size: cover;
      overflow: hidden;
      box-shadow: 7px 7px #b8b8b8;

      @include breakpoint(sm) {
        flex: 2;
        height: auto;
      }
    }
    &-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      .info {
        box-sizing: border-box;
        padding: 20px;

        h2 {
          margin: 0;
        }
        span {
          color: $lightGrey;
        }
      }
      .button {
        transition: all 0.4s ease;
        display: block;
        text-decoration: none;
        margin-top: 30px;
        padding: 10px 0;
        background-color: $button-color;
        color: $button-color-text;
        width: 100%;
        text-align: center;

        &:hover {
          transition: all 0.4s ease;
          background-color: $button-color-hover;
        }
      }
      @include breakpoint(sm) {
        margin: 20px 0 20px 40px;
      }
    }
  }
}
