.sponsers {
  .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .sponser-item {
      flex: 0 0 33.3%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;

      a {
        text-decoration: none;
      }

      h3 {
        text-align: center;
      }

      &:hover {
        img {
          transition: all 0.4s ease;
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }
      }

      img {
        transition: all 0.4s ease;
        display: block;
        height: 150px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      }
    }
  }
}
